<ion-view title="Contests Home" id="page1">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.counterStrikeGlobalOffensive()" id="contestsHome-button6" class="button button-dark button-block">Counter Strike: Global Offensive</a>
    <a ui-sref="menu.starCraft2()" id="contestsHome-button7" class="button button-dark button-block">Starcraft 2</a>
    <a ui-sref="menu.leagueOfLegends()" id="contestsHome-button10" class="button button-dark button-block">League Of Legends</a>
  </ion-content>
</ion-view>