<ion-view title="League of Legends" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="leagueOfLegends-button-bar1" class="button-bar">
      <button id="leagueOfLegends-button12" class="button button-dark button-block">Fantasy</button>
      <button id="leagueOfLegends-button13" class="button button-dark button-block">Matches</button>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="leagueOfLegends-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="leagueOfLegends-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="leagueOfLegends-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="leagueOfLegends-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>