<ion-view title="Live" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="live-list11">
      <ion-item class="item-thumbnail-left" id="live-list-item54">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="live-list-item55">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="live-list-item56">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="live-list-item57">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="live-list-item58">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>