<ion-view title="Sponsored" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="sponsored-list3">
      <ion-item id="sponsored-list-item69">Item 1</ion-item>
      <ion-item id="sponsored-list-item70">Item 2</ion-item>
      <ion-item id="sponsored-list-item71">Item 3</ion-item>
      <ion-item id="sponsored-list-item85">Item 3</ion-item>
      <ion-item id="sponsored-list-item86">Item 3</ion-item>
      <ion-item id="sponsored-list-item87">Item 3</ion-item>
      <ion-item id="sponsored-list-item88">Item 3</ion-item>
      <ion-item id="sponsored-list-item89">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>