<ion-view title="StarCraft 2" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="starCraft2-button-bar2" class="button-bar">
      <button id="starCraft2-button15" class="button button-dark button-block">Fantasy</button>
      <button id="starCraft2-button16" class="button button-dark button-block">Matches</button>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="starCraft2-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="starCraft2-slide27" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="starCraft2-slide28" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="starCraft2-slide29" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>